<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> User create/edit
    </div>
    <form
      [formGroup]="editForm"
      (ngSubmit)="onSubmit()"
      class="form-horizontal"
    >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Full Name</label>
              <input
                formControlName="fullName"
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter your name"
              />
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="form-group">
          <label for="if-email">Email</label>
          <input
            formControlName="email"
            type="email"
            id="if-email"
            name="if-email"
            class="form-control"
            placeholder="Enter Email.."
            autocomplete="email"
          />
          <control-messages
            [control]="editForm.controls.email"
          ></control-messages>
        </div>
        <!--/.row-->
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Roles</label>
          <div class="col-md-9 col-form-label">
            <div
              *ngFor="
                let role of editForm.get('roleControls')['controls'];
                let i = index
              "
              formArrayName="roleControls"
            >
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="roles"
                  [formControlName]="i"
                />
                {{ availableRoles[i] }}
              </label>
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </form>
  </div>
</div>
