<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Users - from BE
    </div>
    <div class="card-body">
      <alert *ngIf="loading" type="success">
        Loading...
      </alert>
      <div class="row justify-content-start">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-block btn-success"
            (click)="goTo('settings/user-edit/0')"
          >
            Create new
          </button>
        </div>
      </div>

      <table cdk-table [dataSource]="dataSource" class="table">
        <ng-container cdkColumnDef="id">
          <th cdk-header-cell *cdkHeaderCellDef (click)="sort('id')">Id</th>
          <td cdk-cell *cdkCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container cdkColumnDef="userName">
          <th cdk-header-cell *cdkHeaderCellDef (click)="sort('userName')">
            Username
          </th>
          <td cdk-cell *cdkCellDef="let element">
            <a [href]="'#/settings/user-edit/' + element.id">{{
              element.userName
            }}</a>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="email">
          <th cdk-header-cell *cdkHeaderCellDef (click)="sort('email')">
            Email
          </th>
          <td cdk-cell *cdkCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container cdkColumnDef="fullName">
          <th cdk-header-cell *cdkHeaderCellDef (click)="sort('fullName')">
            Full Name
          </th>
          <td cdk-cell *cdkCellDef="let element">{{ element.fullName }}</td>
        </ng-container>
        <ng-container cdkColumnDef="roles">
          <th cdk-header-cell *cdkHeaderCellDef (click)="sort('roles')">
            Roles
          </th>
          <td cdk-cell *cdkCellDef="let element">{{ element.roles }}</td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef>
            Actions
          </th>
          <td cdk-cell *cdkCellDef="let element">
            <button
              type="button"
              class="btn btn-block btn-warning"
              (click)="deleteUser(element.id)"
            >
              Delete
            </button>
          </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <pagination
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
  </div>
</div>
